nav {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
}

button {
    height: 70%;
    padding-inline: 10px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.75rem;
    color: white;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(100, 100, 100, 0.3);
}

button .material-symbols-outlined {
    font-size: 1.1rem;
}

.vertical-separator {
  width: 1px;
  height: 35%;
  background-color: #ffffff;
}