.beat-box {
    padding: 20px;
    color: #ffffff;
    background-color: #ff000029;
    backdrop-filter : blur(50px);
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

app-beat-box-component {
    width: 20%;
    max-width: 200px;
}

.beat-presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 1;
    padding-inline-start: 20px;
}

.beat-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.beat-title h1{
    margin: 0;
    font-size: 1.5rem;
}

.vertical-separator {
    width: 1px;
    height: 20px;
    background-color: #ffffffaa;
    border: none;
}

.beat-title h2{
    margin: 0;
    font-size: 1rem;
    color: #ffffffaa;
}


.beat-action {
    display: flex;
    align-items: center;
    gap: 10px;
}

.beat-action button {
    position: relative;
    left: 0;
    width: 36px;
    height: 36px;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.beat-action button:hover {
    background-color: #ffffff20;
}

.box-beat-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff10;
    border-radius: 5px;
    padding-inline: 20px;
    padding-block: 20px;
    min-width: 150px;
    width: 30%;
    color: #ffffffcc;
}

.box-beat-info h3{
    font-size: 0.6rem;
    margin: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.info span {
    font-size: 0.7rem;
    margin-block: 0px;
}

.beat-info-cat, .beat-info-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
}

.beat-info-cat{
    align-items: flex-start;
}

.beat-info-data{
    align-items: flex-end;
    font-weight: bold;
}

app-audio-progress-bar-component {
    
    opacity: 1;
    pointer-events: all;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s ease;

}

.progress-bar.playing{
    opacity: 1;
    pointer-events: all;
}