<div class="body">

    <div class="beat-box">
        <app-beat-box-component [beat]="currentBeat"></app-beat-box-component>
        <div class="beat-presentation">
            <div class="beat-title">
                <h1>{{ currentBeat.name }}</h1>
                <hr class="vertical-separator">
                <h2>{{ currentBeat.description }}</h2>
            </div>
            <div class="beat-action">
                <app-tooltip-component text="Like">
                    <button class="material-symbols-outlined">favorite</button>
                </app-tooltip-component>
                <app-tooltip-component text="Share">
                    <button class="material-symbols-outlined">share</button>
                </app-tooltip-component>
            </div>
        </div>
        <div class="box-beat-info">
            <h3>INFORMATION</h3>
            <div class="info">
                <div class="beat-info-cat">
                    <span>BPM</span>
                    <span>Key</span>
                    <span>Plays</span>
                    <span>Tags</span>
                    <span>Published</span>
                </div>
                <div class="beat-info-data">
                    <span>{{ currentBeat.bpm }}</span>
                    <span>{{ currentBeat.key }}</span>
                    <span>1320</span>
                    <span>Rap</span>
                    <span>{{ currentBeat.date }}</span>
                </div>
            </div>
        </div>
        @if (audioPlayerService.currentAudioId === currentBeat.id) {
        <app-audio-progress-bar-component></app-audio-progress-bar-component>
        }
    </div>
</div>