.beat-cover {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: none;
    border-radius: 5px;
}

.beat-cover button {
    position: absolute;
    z-index: 10;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.beat-cover:hover button {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.beat-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}