<div class="contact-box">
    <div class="profile">
        <div class="img-border">
            <img src="REEP.jpg" alt="">
        </div>
        <hr class="vertical-separator">
        <div class="text">
            <h1>REEP</h1>
            <div class="country">France</div>
        </div>
    </div>
    <div class="socials-links">
        <div class="youtube">
            <img src="youtube-2.png" alt="">
        </div>
        <div class="instagram">
            <img src="instagram-2.png" alt="">
        </div>
    </div>
</div>