<div class="info-panel" [class.open]="isOpen">
    <div class="info">
        <div>
            <span class="material-symbols-outlined">mic</span>
            <p>For music recording</p>
        </div>
        <div>
            <span class="material-symbols-outlined">bigtop_updates</span>
            <p>Up to 10,000 copies</p>
        </div>
        <div>
            <span class="material-symbols-outlined">mic_external_on</span>
            <p>Up to 1,000,000 streams</p>
        </div>
        <div>
            <span class="material-symbols-outlined">animated_images</span>
            <p>Unlimited music videos</p>
        </div>
        <div>
            <span class="material-symbols-outlined">videocam</span>
            <p>For live performances</p>
        </div>
        <div>
            <span class="material-symbols-outlined">radio</span>
            <p>Unlimited radio airplay</p>
        </div>
    </div>
</div>

