<div class="license-selection-box">

    <h1>Licensing</h1>

    <div class="license-box">
        @for (license of licenses; track license.name) {
        <div class="license" [class.selected]="selectedLicense === license" (click)="onLicenseSelect(license)">
            <div class="license-item">
                <h2>{{ license.name }}</h2>
                <div class="license-files">{{ getFilesString(license.files) }}</div>
            </div>
            <div class="license-price">{{ license.price }}€</div>
        </div>
        }
    </div>
    <app-license-info-panel-component></app-license-info-panel-component>
    
    <div class="footer">
        <button class="arrow" [class.flip]="isOpen" (click)="togglePanel()">
            <span class="material-symbols-outlined">keyboard_arrow_down</span>
        </button>
        
        <button class="add-to-cart-button">
            <h2>Add to cart</h2>
        </button>
        <button class="buy-button" (click)="directPayment()">
            <h2>Buy now</h2>
        </button>
    </div>
</div>

