html, body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
  background-image: url("../public/background-style.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

input, button, textarea, select {
  font-family: inherit;
}